

.sub-head {
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 2px;
	margin-bottom: 10px;
	;
} 

.img-col {
	padding-right: 25px;
}

.icon {
	display: inline-flex; /* Hält das Icon auf einer Linie mit dem Text */
	align-items: center; /* Zentriert das Icon vertikal */
	margin-right: 0.5rem; /* Abstand zwischen Icon und Text */
  }
  
.icon img {
	display: block; /* Entfernt zusätzlichen Leerraum um das Bild */
	height: 24px; /* Einheitliche Höhe */
	width: auto; /* Breite proportional zur Höhe */
}

h4 {
	display: flex; /* Ermöglicht flexible Positionierung */
	align-items: center; /* Vertikal zentriert */
	margin: 0; /* Standardabstand entfernen */
}

.faq-list blockquote {
	font-style: normal;
	font-size: medium;
}


/* Card Design */
.card {
	background: #F7C265; /* Heller Hintergrund */
	padding: 1.5rem; /* Innenabstand */
	border-radius: 8px; /* Abgerundete Ecken */
	text-align: center; /* Zentriert den gesamten Inhalt */
	margin-bottom: 1.5rem; /* Abstand zu anderen Karten */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leichter Schatten */
	color: black; /* Schwarzer Text */
	display: flex; /* Flexbox für Zentrierung */
	flex-direction: column; /* Inhalt vertikal anordnen */
	align-items: center; /* Zentriert alles horizontal */
	justify-content: center; /* Zentriert alles vertikal */
  }

  .card .icon img {
	height: 40px;
	width: auto;
	margin-bottom: 1rem;
  }
  
  .card h4 {
	margin: 0.5rem 0;
	text-decoration: none;
	color: black;
	text-align: center;
  }
  
  .card p {
	text-align: center;
  }
  
  /* Call to Action */
  .cta {
	text-align: center;
	margin-top: 2rem;
  }
  
  .cta p {
	font-size: 1.25rem;
	margin-bottom: 1rem;
  }
  
  .cta .button {
	background: #ff6f61;
	color: #fff;
  }